body {
  padding: 0;
  margin: auto;
  width: 1000px;
  background-color: white;
}

p {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 64px;
}

img {
  margin-left: 30%;
  margin-right: 30%;
  width: 40%;
}
