body {
  padding: 0;
  margin: auto;
  width: 1100px;
  background-color: white;
}


p {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 64px;

}


img {
  height: 100%;

}


.photo {
  width: 45%;
}


.plant-card {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 60px;
}


.plant-general {
  display: flex;
  flex-direction: row;
  height: 630px;
}


.titles-all {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 0px;
}


.description {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}


.title p {
  font-style: normal;
  margin: 0;
  text-align: left;
  margin-left: 10px;
  font-size: 50px;
}


.title-latin p {
  font-style: italic;
  font-size: 40px;
  margin: 0;
  text-align: left;
  margin-left: 10px;
}


.title {
  height: 100px;
  margin-top: 10px;
  text-align: left;
}


.title-latin {
  height: 90px;
}


.origin-latin {
  height: 100%;
}


.origin-latin p {
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
}


.info p {
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  text-align: left;
  margin: 5px;
}


.look p {
  font-size: 20px;
  text-align: left;
  margin: 10px 30px 10px 30px;
  padding: 0;
}


.facts p {
  font-size: 20px;
  text-align: left;
  padding: 0;
  margin: 5px;
}


h2 {
  font-family: 'Noto Sans', sans-serif;
  font-size: 25px;
  margin-left: 20px;
  margin-top: 0;
  margin-bottom: 0;
}
