body {
  padding: 0;
  margin: auto;
  width: 1000px;
  background-color: white;
}


p {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 64px;

}


img {
  width: 100%;
}


.photo {
  width: 45%;
}


.plant-card {
  display: flex;
  flex-direction: column;
  margin: 30px;
}


.plant-info {
  display: flex;
  flex-direction: row;
}


.titles-all {
  width: 55%;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}


.description {
  display: flex;
  flex-direction: column;
}

.title p {
  font-style: normal;
  margin: 0;
  text-align: left;
  margin-left: 10px;
  font-size: 50px;
}

.title-latin p {
  font-style: italic;
  font-size: 40px;
  margin: 0;
  text-align: left;
  margin-left: 10px;
}

.title {
  height: 100px;
  margin-top: 50px;
  text-align: left;
}

.title-latin {
  height: 90px;
}

.origin-latin {
  height: 100%;
}

.origin-latin p {
  margin-left: 10px;
  margin-top: 20px;
  text-align: left;
  font-size: 30px;
}
